* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, img, h2{
    text-align: center;
}


#head{
    background-color: dimgray;
    color: white;
}
html{
    border: 4px solid dimgray;
    margin: 10px;

}
